<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>配置工单</title>
    <script src="../../js/lib/vue.min.js"></script>
    <script src="../../js/lib/iview/iview.min.js"></script>

    <script src="../../js/lib/axios/axios.min.js"></script>
    <script src="../../js/service/common.js"></script>
    <link rel="stylesheet" href="../../css/lib/iview.css">
    <style>
        #app {
            padding: 32px;
        }
    </style>
</head>
<div id="app">
    <i-form ref="formValidate" :model="formResult" :rules="ruleValidate"
            :label-width="80">
        <form-item label="前置工单" prop="prepare_work_order_list">
            <i-input v-model="formResult.prepare_work_order_list"></i-input>
        </form-item>
        <br/>
        <form-item label="标题" prop="title">
            <i-input v-model="formResult.title" placeholder="请输入 标题"></i-input>
        </form-item>
        <form-item label="环境" prop="env">
            <i-select v-model="formResult.env" placeholder="请选择 环境" @on-change="change_env">
                <i-option v-for="item in formValidate.env" :value="item.value"
                          :key="item.value">
                    {{item.label}}
                </i-option>
            </i-select>
        </form-item>
        <form-item label="服务器" prop="host">
            <auto-complete
                    v-model="formResult.host"
                    :data="formValidate.host"
                    :filter-method="filterMethod"
                    placeholder="请选择 搜索选择需要操作的调度服务器"
                    @on-change="change_host"
            >
            </auto-complete>
            {{formValidate.host_name}}
        </form-item>
        <i-table height="350" stripe border :columns="columns1" :data="data1"></i-table>
        <modal v-model="formValidate.show_modify_schedule" fullscreen title="修改计划任务"
               @on-ok="confirm_modify_schedule_plan">
            <div>
                语法格式: <br>
                <pre>
                    *    *    *    *    *    *
                    -    -    -    -    -    -
                    |    |    |    |    |    |
                    |    |    |    |    |    + year [optional]
                    |    |    |    |    +----- day of week (0 - 7) (Sunday=0 or 7)
                    |    |    |    +---------- month (1 - 12)
                    |    |    +--------------- day of month (1 - 31)
                    |    +-------------------- hour (0 - 23)
                    +------------------------- min (0 - 59)

                    如果直接为: 数字, 如: 1, 则代表第1(单位)会执行
                    如果直接为: *, 则代表每1(单位)会执行
                    如果值为: */数字, 如: */2, 则代表隔2(单位)会执行
                    如果值为: 数字/数字, 如: 1/2, 则代表接下来1(单位)后隔2(单位)会执行
                </pre>
                <div><a target="_blank" href="https://tool.lu/crontab/">点击跳转到校验Linux crontab格式的界面</a></div>
                <div>更多智能校验正在开发中</div>
            </div>

            <br/>修改前的内容为: <br/>
            <div style="background: lightgreen">{{vue_data.formValidate.old_schedule_content}}</div>
            <br/>修改为: <br/>
            <i-input type="textarea" :autosize="true"
                     v-model="formResult.cur_modify_schedule_line_content"
            />
        </modal>
        <form-item label="审核流程" prop="apply_process">
            <steps :current="-1">
                <step :title="item" v-for="item in formValidate.apply_process_template"></step>
            </steps>
            <cascader :data="formValidate.apply_process"
                      v-model="formResult.apply_process"></cascader>
        </form-item>


        <form-item>
            <i-button typeo="primary" @click="handleSubmit('formValidate')">提交</i-button>
            <i-button @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
        </form-item>

    </i-form>
</div>
</body>
<script>
    const vue_data = {
        formValidate: {
            env: [],
            host: [],
            host_name: "",
            apply_process: [],
            apply_process_template: [],
            crontab_file_content_list: [],
            show_modify_schedule: false,
            old_schedule_content: ""
        },
        formResult: {
            title: "",
            env: "",
            host: "",
            apply_process: [],
            cur_modify_schedule_line_number: "",
            cur_modify_schedule_line_content: "",
            modify_schedule_line: {},
        },
        ruleValidate: {
            title: [
                {required: true, message: '标题不能为空', trigger: 'blur'}
            ],
            env: [
                {required: true, message: '环境不能为空', trigger: 'change'}
            ],
            host: [
                {required: true, message: '调度服务器不能为空', trigger: 'change'}
            ],
            apply_process: [
                {required: true, type: 'array', message: '审核流程不能为空', trigger: 'change'}
            ],
        },
        columns1: [
            {
                title: '行号',
                key: 'line_number',
                width: 80
            },
            {
                title: '内容',
                key: 'content'
            },
            {
                title: '操作',
                key: 'action',
                width: 180,
                sortable: true,
                align: 'center',
                render: (h, params) => {
                    const div_data = [];
                    // 检查是否应该显示
                    // const row_data = vue_data.data1[params.index];
                    // const line_number = row_data["line_number"];
                    // const content = row_data["content"];
                    div_data.push(h('Button', {
                        props: {
                            type: 'primary',
                            size: 'small'
                        },
                        on: {
                            click: () => {
                                modify_schedule_line(params.index);
                            }
                        }
                    }, '修改'));
                    return h('div', div_data);
                }
            }
        ],
        data1: []
    };
    const vue_methods = {
        confirm_modify_schedule_plan() {
            const formResult = vue_data.formResult;
            const cur_modify_schedule_line_number = formResult.cur_modify_schedule_line_number;
            const cur_modify_schedule_line_content = formResult.cur_modify_schedule_line_content;
            if (vue_data.formValidate.crontab_file_content_list[cur_modify_schedule_line_number] == cur_modify_schedule_line_content) {
                component.$Message.error({
                    content: "与原文没有不同,不需要修改"
                });
                return;
            }
            vue_data.formResult.modify_schedule_line[cur_modify_schedule_line_number] = cur_modify_schedule_line_content;
        },
        change_host() {
            do_change_host();
        },
        change_env() {
            do_change_env();
        },
        filterMethod(value, option) {
            return option.toUpperCase().indexOf(value.toUpperCase()) !== -1;
        },
        handleSubmit(name) {
            console.log(vue_data.formResult);
            console.log(vue_data.ruleValidate);
            this.$refs[name].validate((valid) => {
                if (!valid) {
                    component.$Modal.error({
                        title: "温馨提示",
                        width: 500,
                        content: '参数未填写完整',
                    });
                    return;
                }
                do_submit();
            })
        },
        handleReset(name) {
            this.$refs[name].resetFields();
        }
    }

</script>
<script>
    const Main = {
        data() {
            return vue_data
        },
        methods: vue_methods
    };
    const component = new (Vue.extend(Main))().$mount('#app');
</script>
<script>
    const net_request = {
        base: function (outer_func) {
            try {
                component.$Loading.start();
                const res_data = outer_func();
                component.$Loading.finish();
                return res_data;
            } catch (e) {
                component.$Loading.error();
                e.print();
                throw e;
            }
        },
        // 流程使用
        get_my_process: async function (request_data) {
            return this.base(async function () {
                const res_data = await axios.post(url_prefix + "/project_manage/work_order_process/process_template/get_my_process", request_data);
                return res_data;
            })
        },
        // 业务
        get_schedule_server_config: async function () {
            return await axios.get(url_prefix + "/project_manage/schedule/schedule_server_config/get");
        },
        get_crontab_file_content: async function (request_data) {
            return this.base(async function () {
                const res_data = await axios.post(url_prefix + "/project_manage/schedule/schedule_work_order/crontab_file_content_list", request_data);
                return res_data;
            })
        },
        // 保留 //

        request_schedule_work_order: async function (request_data) {
            return this.base(async function () {
                const res_data = await axios.post(url_prefix + "/project_manage/schedule/schedule_work_order/request_schedule_work_order", request_data);
                return res_data;
            })
        }
    };
    let level_schedule_server_config = {};


    async function init_schedule_server_config() {
        const net_request_result = await net_request.get_schedule_server_config();
        console.log(net_request_result);
        if (!net_request_result || !net_request_result.status || net_request_result.status != 200 || !net_request_result.data) return;
        const data = net_request_result.data[0];
        const data_data = data["schedule_server_config"];
        level_schedule_server_config = data_data;
        // 初始化环境
        if (level_schedule_server_config) {
            const metadata_env = [];
            for (const level_key in level_schedule_server_config) {
                metadata_env.push({value: level_key, label: level_key});
            }
            vue_data.formValidate.env = metadata_env;
        }
    }

    init_schedule_server_config();

    function do_change_env() {
        const cur_level_env = vue_data.formResult.env;
        const level_env = level_schedule_server_config[cur_level_env]; // env
        const host_ports_temp = [];
        for (const level_env_key in level_env) {
            host_ports_temp.push(level_env_key.replaceAll("_", "\."));
        }
        vue_data.formValidate.host = host_ports_temp;
    }

    async function do_change_host() {
        const cur_level_env = vue_data.formResult.env;
        const cur_host = vue_data.formResult.host;
        const cur_host_port_show = cur_host.replaceAll("\\.", "_");
        const mysql_instance_name = level_schedule_server_config[cur_level_env][cur_host_port_show];
        vue_data.formValidate.host_name = '选择了调度服务器(' + cur_host + ' - ' + mysql_instance_name + ')';
        // 获取该服务器的crontab文件内容
        const net_request_result = await net_request.get_crontab_file_content({
            env: cur_level_env,
            host: cur_host
        });
        console.log(net_request_result);
        if (!net_request_result || !net_request_result.status || net_request_result.status != 200 || !net_request_result.data) return;
        const crontab_file_content_list = net_request_result.data;
        vue_data.formValidate.crontab_file_content_list = crontab_file_content_list;
        console.log(crontab_file_content_list);
        const data_temp = [];
        for (const key in crontab_file_content_list) {
            data_temp.push({
                line_number: key,
                content: crontab_file_content_list[key],
            })
        }
        vue_data.data1 = data_temp;
    }

    async function init_process() {
        let net_request_result = null;
        let next_step_select = [];
        try {
            // 直接获取当前登录人在当前业务中需要的流程
            net_request_result = await net_request.get_my_process({
                env: "dev",
                process_template_id: "project_schedule"
            });
            console.log(net_request_result);
            if (!net_request_result || !net_request_result.status || net_request_result.status != 200 || !net_request_result.data) return;
            const my_process_list = net_request_result.data; // 注意: 为方便生成界面, 这个流程是反向的
            for (let i = 0; i < my_process_list.length; i++) {
                const level_role_item = my_process_list[i];
                const cur_step_select = [];
                for (const level_user_item of level_role_item) {
                    let temp_data;
                    if (i != my_process_list.length - 1) {
                        temp_data = {
                            value: level_user_item["oepnid"],
                            label: level_user_item["nick"],
                        }
                    } else {
                        temp_data = {
                            value: level_user_item["oepnid"],
                            label: level_user_item["nick"],
                            children: next_step_select // 加入前一次的数据
                        }
                    }
                    cur_step_select.push(temp_data);
                }
                next_step_select = cur_step_select;
            }
            vue_data.formValidate.apply_process = next_step_select;

        } catch (e) {
            console.log(e);
            component.$Modal.error({
                title: "温馨提示",
                width: 500,
                content: e.response.data,
            });
        }
    }

    init_process();

    async function modify_schedule_line(row_index) {
        const row_data = vue_data.data1[row_index];
        const line_number = row_data["line_number"];
        vue_data.formResult.cur_modify_schedule_line_number = line_number;
        const content = row_data["content"];
        vue_data.formResult.cur_modify_schedule_line_content = content;
        vue_data.formValidate.show_modify_schedule = true;
        // 当该界面点击确定时修改当前表格的行的内容并记录到 修改行记录 列表中
    }

    async function do_submit() {
        try {
            const formResult = vue_data.formResult;
            let apply_process_str = "";
            const apply_process = formResult.apply_process;
            for (let i = 0; i < apply_process.length; i++) {
                if (i != 0) {
                    apply_process_str += " > ";
                }
                apply_process_str += apply_process[i];
            }
            const request_data = {
                title: formResult.title,
                env: formResult.env,
                host: formResult.host,
                modify_schedule_line: formResult.modify_schedule_line,
                apply_process: apply_process_str,
                process_template_id: "project_schedule"
            };
            const res_data = await net_request.request_schedule_work_order(request_data);
            console.log("res_data: " + res_data);
            component.$Modal.success({
                title: "提交成功",
                width: 500,
                content: '跳转工单审核?(Ecs返回)',
                closable: true,
                onOk: function () {
                    jump_url("/project_manage/work_order_process/run_manage.html");
                }
            });
        } catch (e) {
            console.log(e);
            component.$Modal.error({
                title: "温馨提示",
                width: 500,
                content: e.response.data,
            });
        }
    }

</script>
</html>